<h1><%= @user.username %></h1>

<div class="">
  <% @user.recipes.each do |recipe| %>
  <div class="">
    <%= link_to recipe.name, recipe_path(recipe) %>
    &nbsp; |
  </div>
  <% end %>

  <% @user.shoplists.each do |shoplist| %>
  <div class="">
    <%= link_to shoplist.name, shoplist_path(shoplist) %>
    &nbsp; |
  </div>
  <% end %>

</div>
